* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  font-size: clamp(1rem, 1.2vmax, 1.2rem);
}

html,
body {
  height: 100%;
}

body {
  --accent-color: #256eff;
  --text-color: 20, 20, 20;
  --background-color: 240, 240, 240;
  --foreground-color: 250, 250, 250;
  --danger-color: rgb(255, 75, 75);
  --green: #1cad59;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  color: rgba(var(--text-color), 1);
  background-color: rgba(var(--background-color), 1);
  transition: background-color 0.3s;
  --dark-red: #d40e1e;
  --red: #f50000;
  --kinda-pink: #e40273;
  --purple: #462191;
  --shady-blue: #324de6;
  --nice-blue: #256eff;
  --maybe-cyan: #00b0ff;
  --teal: #00bcd4;
  --mint-green: #16c79a;
  --yellowish-green: #66bb6a;
  --greenish-yellow: #8bc34a;
  --dark-teal: #11698e;
  --tangerine: #ff6f00;
  --orange: #ff9100;
  --redish-orange: #ff3d00;
}

body[data-theme=dark] {
  --accent-color: #86afff;
  --text-color: 220, 220, 220;
  --background-color: 10, 10, 10;
  --foreground-color: 24, 24, 24;
  --danger-color: rgb(255, 106, 106);
  --green: #00e676;
  --dark-red: #ff5e7e;
  --red: #ff6098;
  --kinda-pink: #c44ae6;
  --purple: #9565f7;
  --shady-blue: #7084f5;
  --nice-blue: #86afff;
  --maybe-cyan: #66cfff;
  --teal: #6aeeff;
  --mint-green: #4dffd2;
  --yellowish-green: #9effa2;
  --greenish-yellow: #c7fc8b;
  --dark-teal: #51cbff;
  --tangerine: #ffac6d;
  --orange: #ffbe68;
  --redish-orange: #ff8560;
}
body[data-theme=dark] sm-popup::part(popup) {
  background-color: rgba(var(--foreground-color), 1);
}

p,
strong {
  font-size: 0.9rem;
  max-width: 65ch;
  line-height: 1.7;
  color: rgba(var(--text-color), 0.9);
}
p:not(:last-of-type),
strong:not(:last-of-type) {
  margin-bottom: 1.5rem;
}

a {
  text-decoration: none;
  color: var(--accent-color);
}
a:focus-visible {
  box-shadow: 0 0 0 0.1rem rgba(var(--text-color), 1) inset;
}

button,
.button {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
  display: inline-flex;
  border: none;
  background-color: transparent;
  overflow: hidden;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  font-size: inherit;
  font-weight: 500;
  white-space: nowrap;
  padding: 0.8rem;
  border-radius: 0.3rem;
  justify-content: center;
  text-transform: capitalize;
}
button:focus-visible,
.button:focus-visible {
  outline: var(--accent-color) solid medium;
}
button:not(:disabled),
.button:not(:disabled) {
  cursor: pointer;
}

.button {
  background-color: rgba(var(--text-color), 0.02);
  border: solid thin rgba(var(--text-color), 0.06);
}
.button--primary {
  color: rgba(var(--background-color), 1);
  background-color: var(--accent-color);
}
.button--primary .icon {
  fill: rgba(var(--background-color), 1);
}
.button--colored {
  color: var(--accent-color);
}
.button--colored .icon {
  fill: var(--accent-color);
}
.button--danger {
  background-color: rgba(255, 115, 115, 0.062745098);
  color: var(--danger-color);
}
.button--danger .icon {
  fill: var(--danger-color);
}
.button--small {
  padding: 0.4rem 0.6rem;
}
.button--outlined {
  border: solid rgba(var(--text-color), 0.3) 0.1rem;
  background-color: rgba(var(--foreground-color), 1);
}
.button--transparent {
  background-color: transparent;
}

button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  filter: saturate(0);
}

.cta {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  padding: 0.8rem 1rem;
}

.icon-only {
  padding: 0.5rem;
  border-radius: 0.3rem;
}

a:-webkit-any-link:focus-visible {
  outline: rgba(var(--text-color), 1) 0.1rem solid;
}

a:-moz-any-link:focus-visible {
  outline: rgba(var(--text-color), 1) 0.1rem solid;
}

a:any-link:focus-visible {
  outline: rgba(var(--text-color), 1) 0.1rem solid;
}

details {
  padding: 1rem 0;
}

details summary {
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  color: var(--accent-color);
}

details[open] summary {
  margin-bottom: 1rem;
}
details[open] > summary .down-arrow {
  transform: rotate(180deg);
}

sm-input,
sm-textarea {
  font-size: 0.9rem;
  --border-radius: 0.5rem;
  --background-color: rgba(var(--foreground-color), 1);
}
sm-input button .icon,
sm-textarea button .icon {
  fill: var(--accent-color);
}

sm-spinner {
  --size: 1rem;
  --stroke-width: 0.1rem;
}

sm-form {
  --gap: 1rem;
}

sm-chips {
  --gap: 0.3rem;
}

sm-chip {
  position: relative;
  font-size: 0.9rem;
  --border-radius: 0.5rem;
  --padding: 0.5rem 0.8rem;
  --background: rgba(var(--text-color), 0.06);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
sm-chip[selected] {
  --background: var(--accent-color);
  color: rgba(var(--background-color), 1);
}

ul {
  list-style: none;
}

.overflow-ellipsis {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.breakable {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -webkit-hyphens: auto;
          hyphens: auto;
}

.full-bleed {
  grid-column: 1/-1;
}

.h1 {
  font-size: 1.5rem;
}

.h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.2rem;
  line-height: 1.3;
}

.h4 {
  font-size: 0.9rem;
}

.h5 {
  font-size: 0.75rem;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}

.top-0 {
  top: 0;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.grid {
  display: grid;
}

.flow-column {
  grid-auto-flow: column;
}

.gap-0-3 {
  gap: 0.3rem;
}

.gap-0-5 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-1-5 {
  gap: 1.5rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.text-align-right {
  text-align: right;
}

.align-start {
  align-content: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.text-center {
  text-align: center;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-right {
  margin-left: auto;
}

.align-self-center {
  align-self: center;
}

.justify-self-center {
  justify-self: center;
}

.justify-self-start {
  justify-self: start;
}

.justify-self-end {
  justify-self: end;
}

.direction-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.ripple {
  height: 8rem;
  width: 8rem;
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  background: radial-gradient(circle, rgba(var(--text-color), 0.3) 0%, rgba(0, 0, 0, 0) 50%);
  pointer-events: none;
}

.button--primary .ripple,
.button--danger .ripple {
  background: radial-gradient(circle, rgba(var(--background-color), 0.3) 0%, rgba(0, 0, 0, 0) 50%);
}

.interact {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.empty-state {
  display: grid;
  width: 100%;
  padding: 1.5rem 0;
}

.observe-empty-state:empty {
  display: none;
}

.observe-empty-state:not(:empty) + .empty-state {
  display: none;
}

.bullet-point {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.8ch;
}
.bullet-point::after {
  content: "";
  height: 0.4ch;
  width: 0.4ch;
  border-radius: 0.5em;
  background-color: var(--accent-color);
}

.icon {
  width: 1.2rem;
  height: 1.2rem;
  fill: rgba(var(--text-color), 0.8);
  flex-shrink: 0;
}

.margin-right-0-5 {
  margin-right: 0.5rem;
}

.margin-left-0-5 {
  margin-left: 0.5rem;
}

.icon-button {
  padding: 0.6rem;
  border-radius: 0.8rem;
  background-color: rgba(var(--text-color), 0.1);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.icon-button .icon {
  fill: var(--accent-color);
}

#confirmation_popup,
#prompt_popup {
  flex-direction: column;
}
#confirmation_popup h4,
#prompt_popup h4 {
  margin-bottom: 0.5rem;
}
#confirmation_popup .flex,
#prompt_popup .flex {
  margin-top: 1rem;
}

.popup__header {
  position: relative;
  display: grid;
  gap: 0.5rem;
  width: 100%;
  padding: 0 1.5rem;
  align-items: center;
}
.popup__header > * {
  grid-row: 1;
}
.popup__header h3,
.popup__header h4 {
  grid-column: 1/-1;
  justify-self: center;
  align-self: center;
}
.popup__header__close {
  grid-column: 1;
  margin-left: -1rem;
  justify-self: flex-start;
}

#show_character_count {
  font-size: 0.8rem;
  margin-left: auto;
}

#flo_data_status:not(:empty) {
  color: red;
  padding: 0.5rem 0;
}

#saved_ids_popup {
  --height: 80vh;
}

#main_header {
  padding: 1rem 1.5rem;
}

#main_card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: rgba(var(--foreground-color), 1);
  transition: background-color 0.3s;
}

#pages_container {
  flex: 1;
  overflow-y: auto;
}

#main_navbar {
  display: flex;
  background: rgba(var(--text-color), 0.03);
}
#main_navbar.hide-away {
  position: absolute;
}
#main_navbar ul {
  display: flex;
  height: 100%;
  width: 100%;
}
#main_navbar ul li {
  width: 100%;
}

.nav-item {
  position: relative;
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.3rem;
  color: var(--text-color);
  font-size: 0.7rem;
  border-radius: 0.3rem;
}
.nav-item .icon {
  transition: transform 0.2s;
}
.nav-item__title {
  margin-top: 0.3rem;
  transition: opacity 0.2s, transform 0.2s;
}
.nav-item--active {
  color: var(--accent-color);
}
.nav-item--active .icon {
  fill: var(--accent-color);
  transform: translateY(50%);
}
.nav-item--active .nav-item__title {
  transform: translateY(100%);
  opacity: 0;
}
.nav-item__indicator {
  position: absolute;
  bottom: 0;
  width: 2rem;
  height: 0.3rem;
  background: var(--accent-color);
  border-radius: 1rem 1rem 0 0;
  z-index: 1;
}

#fix_invalid_button {
  margin-bottom: 1rem !important;
}

.password-field label {
  display: flex;
}
.password-field label input:checked ~ .visible {
  display: none;
}
.password-field label input:not(:checked) ~ .invisible {
  display: none;
}

.multi-state-button {
  display: grid;
  text-align: center;
  align-items: center;
}
.multi-state-button > * {
  grid-area: 1/1/2/2;
}
.multi-state-button button {
  z-index: 1;
}

.clip {
  -webkit-clip-path: circle(0);
          clip-path: circle(0);
}

#flo_id_warning {
  padding-bottom: 1.5rem;
  border-bottom: thin solid rgba(var(--text-color), 0.3);
}
#flo_id_warning .icon {
  height: 4rem;
  width: 4rem;
  padding: 1rem;
  background-color: #ffc107;
  border-radius: 3rem;
  fill: rgba(0, 0, 0, 0.8);
  margin-bottom: 1.5rem;
}

.generated-id-card {
  display: grid;
  gap: 1rem;
}
.generated-id-card h5 {
  margin-bottom: 0.3rem;
}

#home {
  padding: 0;
}
#home > :first-child {
  overflow-y: auto;
  align-content: flex-start;
  padding: 0.5rem 1.5rem 4rem 1.5rem;
}

.primary-action {
  display: flex;
  padding: 0.8rem 1rem;
  gap: 0.5rem;
  white-space: normal;
  font-size: 0.8rem;
  border-radius: 0.5rem;
  background-color: transparent;
  border: thin solid rgba(var(--text-color), 0.3);
}
.primary-action .icon {
  fill: var(--accent-color);
}
.primary-action:not(:last-of-type) {
  margin-right: 0.5rem;
}

#saved_ids_list {
  position: relative;
  align-content: flex-start;
  padding-bottom: 1.5rem;
  margin-top: 1rem;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
}

.saved-id {
  grid-template-columns: auto 1fr;
  gap: 0 0.8rem;
  border-radius: 0.3rem;
  padding: 0.5rem;
  background-color: rgba(var(--text-color), 0.03);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.saved-id.highlight {
  box-shadow: 0 0 0.1rem 0.1rem var(--accent-color) inset;
}
.saved-id .edit-saved {
  grid-area: 1/1/3/2;
  padding: 0.3rem;
  position: relative;
}
.saved-id .edit-saved .icon {
  position: absolute;
  height: 1.2rem;
  width: 1.2rem;
  right: 0;
  bottom: 0;
  border-radius: 0.5rem;
  padding: 0.2rem;
  background-color: rgba(var(--background-color), 1);
}
.saved-id__initial {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.4rem;
  width: 2.4rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: rgba(var(--background-color), 1);
  font-weight: 700;
  line-height: 1;
  background-color: var(--accent-color);
  justify-self: flex-start;
  border-radius: 2rem;
}
.saved-id__label {
  align-self: flex-end;
}
.saved-id__flo-id {
  font-size: 0.8rem;
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  align-content: flex-start;
  padding: 0 1.5rem;
  padding-bottom: 3rem;
}

#transactions {
  position: relative;
  height: 100%;
  padding: 0;
}
#transactions header {
  padding: 1rem;
}
#transactions header .grid {
  grid-template-columns: auto 1fr auto;
}

#flo_id_name {
  overflow: hidden;
  text-overflow: ellipsis;
}

#token_list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.token-item {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  background-color: rgba(var(--text-color), 0.06);
  border-radius: 0.3rem;
}

#transactions_list {
  flex-direction: column;
  padding-bottom: 4rem;
}

.transaction {
  gap: 1rem;
  padding: 1rem;
  background-color: rgba(var(--text-color), 0.03);
  border-radius: 0.3rem;
}
.transaction:not(:last-of-type) {
  margin-bottom: 1rem;
}
.transaction .icon {
  fill: var(--accent-color);
}
.transaction__time, .transaction__link, .transaction__receiver {
  font-size: 0.8rem;
}
.transaction__receiver {
  margin-left: 0.5rem;
  color: rgba(var(--text-color), 0.8);
}
.transaction p {
  font-size: 0.9rem;
  max-width: unset;
}
.transaction__time {
  justify-self: flex-end;
  color: rgba(var(--text-color), 0.8);
}

.fab {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  z-index: 2;
}

#scroll_to_top {
  border-radius: 3rem;
  background-color: rgba(var(--foreground-color), 1);
}

#add_address_button {
  border-radius: 0.5rem;
  color: rgba(var(--background-color), 1);
  background-color: var(--accent-color);
}
#add_address_button .icon {
  fill: rgba(var(--background-color), 1);
}

#balance_card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: max(1rem, 2vw);
  background-color: rgba(var(--text-color), 0.06);
  aspect-ratio: 4/2;
  justify-content: flex-end;
  border-radius: 0.5rem;
}

#transaction_result {
  display: grid;
  gap: 0.5rem;
  height: max(40vh, 24rem);
  align-items: center;
  justify-content: center;
  text-align: center;
  align-content: center;
}
#transaction_result.success .icon--failed {
  display: none;
}
#transaction_result.failed .icon--success {
  display: none;
}
#transaction_result h3 {
  text-align: center;
  width: 100%;
}
#transaction_result .icon {
  justify-self: center;
  height: 4rem;
  width: 4rem;
  border-radius: 5rem;
  margin-bottom: 1rem;
  -webkit-animation: popup 1s;
          animation: popup 1s;
}
#transaction_result .icon--success {
  fill: rgba(var(--background-color), 1);
  padding: 1rem;
  background-color: #0bbe56;
}
#transaction_result .icon--failed {
  background-color: rgba(var(--text-color), 0.03);
  fill: var(--danger-color);
}
#transaction_result sm-copy {
  font-size: 0.8rem;
}

@-webkit-keyframes popup {
  0% {
    opacity: 0;
    transform: scale(0.2) translateY(600%);
  }
  10% {
    transform: scale(0.2) translateY(5rem);
    opacity: 1;
  }
  40% {
    transform: scale(0.2) translateY(0);
  }
  80% {
    transform: scale(1.1) translateY(0);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

@keyframes popup {
  0% {
    opacity: 0;
    transform: scale(0.2) translateY(600%);
  }
  10% {
    transform: scale(0.2) translateY(5rem);
    opacity: 1;
  }
  40% {
    transform: scale(0.2) translateY(0);
  }
  80% {
    transform: scale(1.1) translateY(0);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}
@media screen and (max-width: 40rem) {
  #main_navbar.hide-away {
    bottom: 0;
    left: 0;
    right: 0;
  }
}
@media screen and (min-width: 40rem) {
  body {
    background-size: cover;
  }
  sm-popup {
    --width: 24rem;
  }
  .popup__header {
    padding: 1rem 1.5rem 0 1.5rem;
  }
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #main_card {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "nav header" "nav main";
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.05), 0 1rem 3rem rgba(0, 0, 0, 0.2);
    background-color: rgba(var(--foreground-color), 0.9);
  }
  #main_header {
    grid-area: header;
  }
  #pages_container {
    grid-area: main;
  }
  #main_navbar {
    grid-area: nav;
    border-top: none;
    flex-direction: column;
    height: 100%;
  }
  #main_navbar ul {
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.3rem;
  }
  #main_navbar ul li:last-of-type {
    margin-top: auto;
  }
  .nav-item {
    aspect-ratio: 1/1;
  }
  .nav-item__indicator {
    width: 0.25rem;
    height: 50%;
    left: 0;
    border-radius: 0 1rem 1rem 0;
    bottom: auto;
  }
  #create_flo_id_popup,
#retrieve_flo_id_popup {
    --width: 26rem;
  }
  #send sm-form::part(form) {
    align-items: flex-start;
    grid-template-columns: 45% 1fr;
  }
}
@media screen and (min-width: 56rem) {
  #main_card {
    height: 80vh;
    width: 56rem;
  }
}
@media (any-hover: hover) {
  ::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(var(--text-color), 0.3);
    border-radius: 1rem;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--text-color), 0.5);
  }
  .interact:not([disabled]) {
    transition: background-color 0.3s;
  }
  .interact:not([disabled]):hover {
    background-color: rgba(var(--text-color), 0.06);
  }
  .button:not([disabled]) {
    transition: background-color 0.3s, filter 0.3s;
  }
  .button:not([disabled]):hover {
    filter: contrast(2);
  }
}
@supports (overflow: overlay) {
  body {
    overflow: overlay;
  }
}
.hide {
  display: none !important;
}